* {
    margin: 0;
    padding: 0;
}
h1, p{
text-align: center;
}
button{
    border: 1px;
    outline:none;
    margin: 0 auto;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;

}
